@import "../breakpoints/breakpoints.scss";

.details-card{
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  &__name {
    margin-bottom: 15px;
  }
  &__age {
    margin-bottom: 15px;
  }
  &__link {
    text-decoration: none;
    font: 1.3rem;
    color: inherit;
    margin-bottom: 30px;
  }
  &__button-link{
    text-align: center;
    margin-bottom: 5px;
    background: #221133;
    padding: .5rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 45px;
    // border: 1px solid grey;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 120px;
    text-decoration: none;
    &:hover{
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    }
  }
  &__students-name{
    font-size: 1.5rem;
    margin-bottom: 34px;
  }
}