@import "../breakpoints/breakpoints.scss";


.single-student-card {
  border-bottom: 1px solid #ccc;
  margin-top: 15px;
  margin-bottom: 15px;

  &__layouts {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  &__link {
    margin-top: 5px;
    font-size: 1.4rem;
    vertical-align: middle;
    text-decoration: none !important;
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  &__action-button {
    transition: .4s;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: #fff;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    background: #1fa185;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    &:hover {
      transition: .4s;
      background: #1fa185;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
      border: 1px solid #1fa185;
    }

  }
  &__action-button-delete {
    transition: .4s;
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      color: #fff;
      outline: none;
      border: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      background: #db4d3a;
      border-radius: 6px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
      &:hover {
        transition: .4s;
        background: #db4d3a;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
        border: 1px solid #db4d3a;
      }
  }
  @include media('<=tablet') {
    .single-student-card {
      border: 1px solid #c8c8;
      &__layouts {
        display: grid;
        grid-template-columns: repeat(1,1fr);

      }
      &__link {
        font-size: 1.4rem;
        text-align: center;
        text-decoration: none;
        margin-bottom: 20px;

      }
      &__action-button {
        transition: .4s;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        color: #fff;
        outline: none;
        border: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        background: #1fa185;
        border-radius: 6px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
        &:hover {
          transition: .4s;
          background: #1fa185;
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
          border: 1px solid #1fa185;
        }
      }
      &__action-button-delete {
        transition: .4s;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        color: #fff;
        outline: none;
        border: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        background: #db4d3a;
        border-radius: 6px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
        &:hover {
          transition: .4s;
          background: #db4d3a;
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
          border: 1px solid #db4d3a;
        }
      }
      &__btn {
        display: flex;
        flex-direction: column;
      }
}}

}